body {
  font-size: "Gilroy";
  margin: 0;
}

button {
  padding: 0;
  border: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper-top {
  background: #20242d;
}
.header .wrapper-top {
  background: #20242d;
}
.header .wrapper-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .contacts {
  display: flex;
  justify-content: space-between;
}

.header .contacts li {
  margin-right: 56px;
}

.header .contacts li:last-child {
  margin-right: 0;
}

.header .address {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.header .contacts {
  display: flex;
  justify-content: space-between;
}

.header .contacts li {
  margin-right: 56px;
}

.header .contacts a {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.foto3-left {
  position: absolute;
  width: 1019px;
  height: 532px;
  left: -880px;
  top: 292px;
  background: url(projekty);
}

.foto3 {
  position: absolute;
  width: 1019px;
  height: 532px;
  left: 299px;
  top: 300px;
  background: url(projekty);
}

.wrapper-bot {
  background: black;
}

.header .wrapper-bot {
  background: #ffffff;
  padding-top: 20px;
  padding-bottom: 11px;
}

.header .wrapper-bot .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .navigation ul {
  display: flex;
  align-items: center;
}
.header .navigation li {
  margin-right: 56px;
}
.header .navigation li:last-child {
  margin-right: 0px;
}

.header .navigation a {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #20242d;
}

.header .navigation .active {
  color: #ff7129;
}

.start-screen {
  background: bisque;
  background-image: url(../images/main-bg.jpg);
  padding-top: 270px;
  padding-bottom: 128px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.main-titlee {
  font-size: 92px;
  font-style: normal;
  font-weight: 700;
  line-height: 111px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-bottom: 16px;
}

.start-screen .main-title {
  font-size: 92px;
  font-style: normal;
  font-weight: 700;
  line-height: 111px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 0;
}

.start-screen .slogan {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  max-width: 508px;
  margin-left: auto;
  margin-left: auto;
  margin-bottom: 59px;
}

.btn-btn-dark {
  color: #ffffff;
  width: 187px;
  height: 49px;
  left: 0px;
  top: 0px;
  background: black;
  border: 1px solid #ff7129;
  box-sizing: border-box;
  filter: ;
}

.start-screen .btn {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  background: #ff7129;
  box-shadow: 0px 4px 28px 0px;
  display: block;
  width: 100px;
  padding: 16px 40px;
  margin-right: auto;
  margin-left: auto;
}
.start-screen .btn-scroll {
  background: rgba(123, 126, 133, 0.4);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 106px;
}
